# 🔒 Fichier de configuration sécurisé
secrets.toml

# 🧪 Environnement Python local
.env
*.env

# 💻 Caches locaux
__pycache__/
*.py[cod]

# 📦 Dossiers souvent inutiles dans Git
*.log
*.sqlite
*.db
.DS_Store
.vscode/
